# Creating this notebook to manually fix issues in the DB as they come up!

## Fix 1: discipline strings
extra whitespace in the discipline values

In [1]:
import pandas as pd
import numpy as np
import sqlite3

from queries import get_race_data, get_point_total, get_races_list, audit_df, get_race_years

In [2]:
# Set the database path to a location with write permissions
db_path = '../race_league_results.db'

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [14]:
sql = """
UPDATE RaceResults
SET discipline = TRIM(discipline);
"""

cursor = conn.cursor()
cursor.execute(sql)
conn.commit()

In [15]:
sql = """
select discipline, COUNT(*)
from RaceResults
group by 1;
"""
df = pd.read_sql(sql, conn)

In [16]:
df

  discipline  COUNT(*)
0       None        16
1        SKI      3900
2       SNBD       701

## Fix Jeffrey Solomon's name...
already fixed the csv file.

In [82]:
sql = """
UPDATE RaceResults
SET racer_id = 'jeffreysolomon'
WHERE racer_id = 'jefferysolomon';
"""

cursor = conn.cursor()
cursor.execute(sql)
conn.commit()

# Fix bug in generate_pages()

In [3]:
years = get_race_years(conn)
years

['2025',
 '2024',
 '2023',
 '2022',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013']

In [4]:
standing_years = [year for year in years if int(year) > 2023]
standing_years

['2025', '2024']

In [5]:
audit = audit_df(standing_years[0], conn)

In [6]:
audit[audit.team == 'HULK SMASH (Green)']

,bib,name,discipline,team,tier,run1_race1,run2_race1,best_time_race1,points_race1,total_top_3_points
26,84.0,Mclean Wood,SKI,HULK SMASH (Green),1.0,25.36,9999.00,25.36,10.0,10.0
27,74.0,William Cartar,SKI,HULK SMASH (Green),2.0,25.74,25.49,25.49,8.0,8.0
28,67.0,Brad Brock,SKI,HULK SMASH (Green),3.0,27.63,28.48,27.63,6.0,6.0
29,63.0,Mark Laurie,SKI,HULK SMASH (Green),4.0,27.05,27.36,27.05,8.0,8.0
30,57.0,Todd Robertson,SKI,HULK SMASH (Green),5.0,28.86,28.76,28.76,5.0,5.0
31,46.0,Craig Pitman,SKI,HULK SMASH (Green),6.0,28.91,9998.00,28.91,5.0,5.0
32,38.0,David Eva,SKI,HULK SMASH (Green),7.0,29.29,30.43,29.29,9.0,9.0
33,30.0,Sarah Robertson,SKI,HULK SMASH (Green),8.0,34.37,34.56,34.37,3.0,3.0
34,19.0,Audun Breder,SKI,HULK SMASH (Green),9.0,30.39,29.97,29.97,10.0,10.0
35,12.0,Antonio Liberatore,SKI,HULK SMASH (Green),10.0,37.13,36.23,36.23,4.0,4.0
36,1.0,David Moull,SKI,HULK SMASH (Green),11.0,38.27,37.49,37.49,4.0,4.0
37,4.0,Dave Graff,SKI,HULK SMASH (Green),11.0,35.79,34.61,34.61,9.0,9.0
38,182.0,Graham Ramshaw,SNBD,HULK SMASH (Green),12.0,33.75,36.11,33.75,8.0,8.0
39,NaN,avg_tier_points,None,HULK SMASH (Green),13.0,NaN,NaN,NaN,9.0,9.0